.navbar {
    background-color: rgb(13, 13, 142);
}

header h1{
    color: rgb(255, 255, 255);
}

.opcionesAbrir h2{
    color: rgb(13, 13, 142);
}
.productos h2{
    color: rgb(13, 13, 142);
}
.servicioTecnico h2{
    color: rgb(13, 13, 142);
}

#navLista {
    color: #f8f9fa;
}

#navLista {
    cursor: pointer;
    margin: 0px 10px;
    position: relative; /* Necesario para posicionar el pseudo-elemento relativo al a */
    text-decoration: none; /* Para remover cualquier subrayado */
  }
  
  #navLista::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px; /* Ajusta esto según el espacio que desees entre el texto y la línea */
    width: 0%;
    height: 2px; /* Ajusta el grosor de la línea aquí */
    background-color: rgb(255, 255, 255); /* Color de la línea */
    transition: width 0.5s ease-in-out;
  }
  
  #navLista:hover::after {
    width: 100%;
  }

.fondo{
    background: linear-gradient(rgba(0, 0, 0, 0.608), rgba(0, 0, 0, 0.608)), url(img/image.png);
    height: 300px;
    background-position: center;
    background-size: cover;
}

.productos{
    background-color: rgb(245, 245, 245);
}

.servicioTecnico div div{
    width: 200px;
}

footer{
    height: 200px;
    background-color: black;
}