.boddy{
    background-color: rgb(255, 255, 255);
}

/* .contenido{
    max-width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
} */

.navbar {
    /* background-color: rgba(231, 231, 231, 0.837); */
    background-color: rgba(54, 173, 247, 0.033);
}
.ancho{
    max-width: 1200px;
    margin: auto;
}

header h1{
    /* color: rgb(15, 154, 200); */
    color: #069af5;
}

.opcionesAbrir h2{
    color: #069af5;;
}
.productos h2{
    color: #069af5;;
}
.servicioTecnico h2{
    color: #069af5;;
}

#navLista {
    /* color: #ffffff; */
    color: #069af5;
}

#navLista {
    cursor: pointer;
    margin: 0px 10px;
    position: relative; /* Necesario para posicionar el pseudo-elemento relativo al a */
    text-decoration: none; /* Para remover cualquier subrayado */
  }
  
  #navLista::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px; /* Ajusta esto según el espacio que desees entre el texto y la línea */
    width: 0%;
    height: 2px; /* Ajusta el grosor de la línea aquí */
    background-color: #069af5;; /* Color de la línea */
    transition: width 0.5s ease-in-out;
  }
  
  #navLista:hover::after {
    width: 100%;
  }

.fondo{
    background: linear-gradient(rgba(4, 0, 16, 0.659), rgba(4, 0, 16, 0.659)), url(img/image22.png);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.botonContacto{
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
    border: solid 2px #069af5;;
    color: #069af5;;
}
.botonContacto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 1px white;
}
.botonContacto2{
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
    color: #069af5;;
    border: solid 2px #069af5;;
}
.botonContacto2:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px 1px #069af5;;
}

.productos{
    background-color: rgb(245, 245, 245);
}

.servicioTecnico div div{
    width: 200px;
}
.servicioTecnico h3{
    color: #069af5;;
}

footer{
    /* height: 200px; */
    background-color: black;
}